# Node
node_modules/
.next/
out/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Java
*.class
*.jar
*.war
*.ear
target/
.mvn/

# IDE / OS
.idea/
.vscode/
.DS_Store

# Env
.env
.env.local
